### 표본추출/샘플링
- 전체 데이터에서 일부 데이터를 추출
- pandas.DataFrame.sample( ) 메서드
- 복원추출 : 추출된 데이터를 다시 추가해서 추출하는 방식
- 비복원추출 : 추출된 데이터를 제거 후 남은 데이터에서 추출하는 방식

In [10]:
import pandas as pd

In [11]:
# 임의의 데이터 생성
dataDF = pd.DataFrame({'kor':[10, 20, 30], 
                       'math':[11, 22, 33], 
                       'eng':[111, 222, 333]})
dataDF

   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

In [12]:
# 1개의 샘플/표본 데이터 추출 => [기본] : 비복원 - 전체 데이터 수 초과 불가
# 추출 기준 축(axis)로 설정. default값은 행

for cnt in range(5):
    print(f"[{cnt}번]")
    print(dataDF.sample(n=1))
    print('-'*50)
    print(dataDF.sample(n=2, axis = 'columns'))
    print('-'*50)

[0번]
   kor  math  eng
1   20    22  222
--------------------------------------------------
   eng  kor
0  111   10
1  222   20
2  333   30
--------------------------------------------------
[1번]
   kor  math  eng
1   20    22  222
--------------------------------------------------
   kor  math
0   10    11
1   20    22
2   30    33
--------------------------------------------------
[2번]
   kor  math  eng
2   30    33  333
--------------------------------------------------
   math  kor
0    11   10
1    22   20
2    33   30
--------------------------------------------------
[3번]
   kor  math  eng
2   30    33  333
--------------------------------------------------
   eng  kor
0  111   10
1  222   20
2  333   30
--------------------------------------------------
[4번]
   kor  math  eng
2   30    33  333
--------------------------------------------------
   math  eng
0    11  111
1    22  222
2    33  333
--------------------------------------------------

In [14]:
# 1개의 샘플/표본 데이터 추출 => [설정] 복원 : replace 매개변수 True 설정
# 추출 기준 축(axis)로 설정. default값은 행

for cnt in range(5):
    print(f"[{cnt}번]")
    print(dataDF.sample(n=3))

[0번]
   kor  math  eng
2   30    33  333
1   20    22  222
0   10    11  111
[1번]
   kor  math  eng
2   30    33  333
1   20    22  222
0   10    11  111
[2번]
   kor  math  eng
1   20    22  222
0   10    11  111
2   30    33  333
[3번]
   kor  math  eng
1   20    22  222
2   30    33  333
0   10    11  111
[4번]
   kor  math  eng
2   30    33  333
0   10    11  111
1   20    22  222